.galeria{
    position: relative;
    width: 42.8rem;
    height: 92.6rem;
     
    margin: auto;
    border: 0.1rem solid black;
}
.menu{
    position: relative;
    width: 3.7rem;
    height: 3.3rem;
    left: 4.2rem;
    top: 3rem;

}
.palabra{
    position: relative;
    width: 24rem;
    height: 4rem;
    left: 11.7rem;
    top: 1rem;
    font-size: 1.7rem;
    line-height: 1rem;

    color: #000000;
}

.img_uno{
    display: flex;
    justify-content: space-evenly;
    position: relative;
    top: -6rem;
}
.primero img{
    position: relative;
    width: 18.1rem;
    top: 13.6rem;

    background: #FFFFFF;
    box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
}

.primero_palabra{
    padding: 1rem;
    position: relative;
    top: 7rem;
    color: #FFFFFF;
    font-size: 1.5rem;
}
.segundo img{
    position: relative;
    width: 18.1rem;
    top: 13.6rem;
    
    background: #FFFFFF;
    box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.25);
    border-radius: 1.7rem;
}

.img_dos{
    display: flex;
    justify-content: space-evenly;

    position: relative;
    top: 10rem;
}
.tercero img{
    position: relative;
    top: -6rem;
    width: 18.1rem;

    background: #FFFFFF;
    box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.25);
    border-radius: 1.7rem;
}

.tercera_palabra{
    padding: 1rem;
    position: relative;
    top: -13rem;
    color: #ffffff;
    font-size: 1.5rem;
}
.cuarto img{
    position: relative;
    width: 18.1rem;
    top: -9.5rem;

    background: #FFFFFF;
    box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.25);
    border-radius: 1.7rem;
}

.cuarta_palabra{
    padding: 1rem;
    position: relative;
    top: -17rem;
    color: #ffffff;
    font-size: 1.5rem;
}

.quinto img{
    position: relative;
    top: -6rem;
    width: 18.1rem;

    background: #FFFFFF;
    box-shadow: 0px 8px 9px rgba(0, 0, 0, 0.25);
    border-radius: 1.7rem;
}

.quinta_palabra{
    padding: 1rem;
    position: relative;
    top: -13rem;
    color: #ffffff;
    font-size: 1.5rem;
}

.agregar img{
    position: absolute;
    width: 50px;
    height: 50px;
    right: 29px;
    bottom: 42px;
}
